        body {
            font-family:'Courier New', Courier, monospace;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        #container {
            background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(sipbg.jpg);
            height: 70vh;
            background-size: cover;
            background-position: center;
            position: relative;
           
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(139, 72, 72, 0.1);
        }
        h1 {
            color: aqua;
            text-align: center;
        }
        label {
            font-weight: bold;
            color: #fff;
        }
        .container input{
            text-align: center;
        }
        input, select {
            width :90%;
            padding: 10px;
            margin-right: 10%;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
           
        }
        input:focus, select:focus {
            border-color: #0080f0;  
            outline: none; 
        }
        .result-container {
            background: linear-gradient(rgba(98, 122, 199, 0.7), rgba(217, 209, 209, 0.7))
        }
        .result {
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            color: #f4f4f4;
        }
        .result1 {
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            color: #f4f4f4;
        }
        .result2 {
            margin-top: 20px;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            color: #f4f4f4;
        }
        .button{
            text-align: center;
            margin-top: 5%;
            
        }
        .button button{
           
            background-color: rgb(246, 111, 0);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20%;
          }
          
          @media screen and (max-width: 400px) {
            body {
              background-color: rgb(13, 14, 13);
            }
            #container {
                height: 100vh;
            }

          }
          @media screen and (min-width: 400px) {
            body {
              background-color: rgb(13, 14, 13);
            }
            #container {
                height: 100vh;
            }

          }